{% extends "base.j2" %}

{% block content %}

  {% if not records %}

    <h1>No records to show</h1>

  {% else %}

    <h1>Above is the list of all recorded data</h1>

    <ul>
      {% for record in records %}

        <li> {{record.value}} </li>

      {% endfor %}
    </ul>

  {% endif %}

{% endblock %}
