{% extends "base.j2" %}

{% block content %}
  <form action="{{ url_for(operation) }}" method="post">
    <input type="text" name="name" />
    <input type="password" name="password" />

    {% if next %}
      <input type="hidden" name="next" value="{{next}}">
    {% endif %}

    <input type="submit" value="{{ operation[:1].upper() + operation[1:] }}" />
</form>

{% endblock %}
