<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}

        {% for message in messages %}
          <h1> {{message}} </h1>
        {% endfor %}

      {% endif%}
    {% endwith %}


    <form action="{{ url_for(operation) }}" method="post">
        <input type="text" name="name" />
        <input type="password" name="password" />

        {% if next %}
          <input type="hidden" name="next" value="{{next}}">
        {% endif %}

        <input type="submit" value="{{ operation[:1].upper() + operation[1:] }}" />
    </form>

  </body>
</html>
